.book-form{
    max-width: 350px;
    background-color: var(--light-color);
}

.book-form__fields-group{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.book-form__separator{
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--gray-color);
    margin: 1.6rem 0;
}

.book-form__resume-price{
    font-family: Lato;
    text-align: center;
    color: var(--first-color);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.book-form__price-time{
    color: var(--gray-dark);
    font-weight: 400;
    font-size: 1rem;
}